body   {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0%;
    margin: 0%;
    background-color: #023020;
}

.body   {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}

.name   {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    display: inline-block;
    visibility: visible;
    text-align: center;
    background-color: #090;
}

.name   a   {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    font-style: normal;
    font-family: monospace;
    padding: 12px 12px;
}

.dropbtn    {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #090;
    color: #fff;
    padding: 14px 32px 14px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus  {
    background-color: #090;
}
  
.dropdown   {
    position: relative;
    display: inline-block;
    visibility: visible;
    position: relative;
    top: 25px;
}
  
.dropdown-content   {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: auto;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content   a   {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown   a:hover {
    background-color: #ddd;
}
  
.show   {
    display: block;
}



.top    {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #090;
    text-align: center;
    list-style-type: none;
}

.top    a   {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 12px 14px;
    font-size: 24px;
    font-family: monospace;
}

.top    a:hover {
    cursor: pointer;
}

.meal   {
    position: relative;
    top: 100px;
    left: 0;
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;
    background-color: #023020;
    overflow-y: scroll;
    overflow-x: hidden;
}

.meal   .manu   {
    width: 100%;
}

.meal   .mage   {
    width: 100%;
}

.meal   .mage   img {
    resize: both;
    width: 90vw;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #36454f;
}

.meal   div   {
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: monospace;
    display: inline-block;
    padding: 0;
}

.meal   div   img {
    resize: both;
    width: 275px;
    height: 275px;
    padding: 12px 14px;
    border-radius: 10px;
    box-shadow: 0 0 10px #36454f;
}

.meal   div   h1  {
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    width: auto;
    padding: 20px;
}


footer  {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #36454f;
    text-align: center;
}

footer  p   {
    font-size: 14px;
    font-family: monospace;
    padding: 8px;
    color: #fff;
}




@media only screen and (max-width: 319px) {
    .top    {
        display: none;
        visibility: hidden;
    }

    .meal   {
        position: relative;
        top: 75px;
        left: 0;
    }

    .meal   .mage   img {
        resize: both;
        width: 200px;
        height: auto;
        padding: 0;
        margin: 0 0 16px 0;
    }

    .meal   div   img {
        resize: both;
        width: 200px;
        height: 200px;
        padding: 0;
        margin: 16px 14px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }
    

    



}


@media only screen and (min-width: 320px) and (max-width: 479px)    {
    
    .top    {
        display: none;
        visibility: hidden;
    }

    .meal   {
        position: relative;
        top: 75px;
        left: 0;
    }

    .meal   .mage   img {
        resize: both;
        width: 275px;
        height: auto;
        padding: 0;
        margin: 0 0 16px 0;
    }

    .meal   div   img {
        resize: both;
        width: 250px;
        height: 250px;
        padding: 0;
        margin: 16px 14px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }

    
    

}

@media only screen and (min-width: 480px) and (max-width: 599px)    {
    
    .top    {
        display: none;
        visibility: hidden;
    }

    .meal   {
        position: relative;
        top: 75px;
        left: 0;
    }

    .meal   .mage   img {
        resize: both;
        width: 400px;
        height: auto;
        padding: 0;
        margin: 0 0 16px 0;
    }

    .meal   div   img {
        resize: both;
        width: 300px;
        height: 300px;
        padding: 0;
        margin: 16px 14px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }


    


    
    
}

@media only screen and (min-width: 600px) and (max-width: 767px)    {
    .dropbtn    {
        display: none;
        visibility: hidden;
    }

    .name   {
        display: none;
        visibility: hidden;
    }

    .top    a   {
        font-size: 16px;
    }

    .meal   {
        position: relative;
        top: 75px;
        left: 0;
    }

    .meal   .mage   img {
        resize: both;
        width: 500px;
        height: auto;
        padding: 0;
        margin: 16px 0;
    }

    .meal   img {
        resize: both;
        width: 550px;
        height: auto;
        margin: 16px 0;
        padding: 0;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }

    .meal   div   img {
        resize: both;
        width: 325px;
        height: 325px;
        padding: 0;
        margin: 16px 14px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }


     


}

@media only screen and (min-width: 768px) and (max-width: 991px)    {
    .dropbtn   {
        display: none;
    }

    .name   {
        display: none;
        visibility: hidden;
    }

    .top    a   {
        font-size: 16px;
    }

    .meal   {
        position: relative;
        top: 75px;
        left: 0;
    }

    .meal   .mage   img {
        resize: both;
        width: 700px;
        height: auto;
        margin: 14px 16px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }

    .meal   div   img {
        resize: both;
        width: 325px;
        height: 325px;
        padding: 0;
        margin: 16px 14px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }
    


}

@media only screen and (min-width: 992px) and (max-width: 1199px)    {
    .dropbtn   {
        display: none;
    }

    .name   {
        display: none;
        visibility: hidden;
    }

    .top    a   {
        font-size: 20px;
    }

    .meal   {
        position: relative;
        top: 80px;
        left: 0;
    }

    .meal   .mage   img {
        resize: both;
        width: 900px;
        height: auto;
        margin: 14px 16px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }

    .meal   div   img {
        resize: both;
        width: 325px;
        height: 325px;
        padding: 0;
        margin: 16px 14px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }


    




}

@media only screen and (min-width: 1200px) and (max-width: 1399px)  {
    .dropbtn   {
        display: none;
    }

    .name   {
        display: none;
        visibility: hidden;
    }

    .meal   {
        position: relative;
        top: 100px;
        left: 0;
    }

    .meal   .mage   img {
        resize: both;
        width: 1000px;
        height: auto;
        margin: 14px 16px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }

    .meal   img {
        resize: both;
        width: 1150px;
        height: auto;
        margin: 14px 16px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }

    .meal   div   img {
        resize: both;
        width: 325px;
        height: 325px;
        padding: 0;
        margin: 16px 14px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }
    




}

@media only screen and (min-width: 1400px) {

    .meal   img {
        resize: both;
        width: 1200px;
        height: auto;
        margin: 16px 14px;
        padding: 0;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }

    .meal   .mage   img {
        resize: both;
        width: 1300px;
        height: auto;
        margin: 14px 16px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }

    .meal   div   img {
        resize: both;
        width: 325px;
        height: 325px;
        padding: 0;
        margin: 16px 14px;
        border-radius: 10px;
        box-shadow: 0 0 10px #36454f;
    }
    
}

